*, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

section {
	text-align: center;
	font-family: sans-serif;

}

.tinder--card {
	margin:  20px auto auto auto;
	display: block;
	overflow: hidden;
	width: 333px;
	background: #C4DEF2;
	padding-bottom: 40px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}

.tinder--card img {
	max-height: 250px;
	min-width: 100%;
	pointer-events: none;
}

.tinder--card h3 {
	margin-top: 10px;
	font-size: 32px;
	padding: 0 16px;
	pointer-events: none;
}

.tinder--card p {
	margin: 0px;
	font-size: 15px;
	padding: 0 16px;
	pointer-events: none;
}

.misMascotas{
	display: grid;
	place-content: center;
	grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
	gap: 8px;
}
.negrilla{
	font-weight: 1000;
}